/release_extraction/__pycache__/
/release_extraction/config/*properties
/release_extraction/teste.py
/release_extraction_old/
/release_extraction_backup/
/collect_metrics/ck_old.jar
/collect_metrics/extractMetrics_old.sh
/collect_metrics/recollect.sh
/collect_metrics/teste.sh
